<form class="example-form">

	<pre>
		{{ movie | json }}
	</pre>
	<mat-form-field class="full-width">
		<input matInput placeholder="Title" [(ngModel)]="movie.title" name="movie">
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="ReleaseDate" [(ngModel)]="movie.releaseDate" name="releaseDate">
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="Language" [(ngModel)]="movie.language" name="language">
	</mat-form-field>

	<button mat-raised-button (click)="submit()">Submit</button>
</form>

<mat-card>

	<mat-card-title>Movies List</mat-card-title>

	<mat-card-content>
		<mat-list>
			<mat-list-item *ngFor="let movie of movies; let i=index">

				<h3 matLine> {{movie.title}}

					<mat-menu #appMenu="matMenu">
						<button mat-menu-item (click)="update(movie)"> Update </button>
						<button mat-menu-item (click)="remove(movie._id,i)"> Remove </button>
					</mat-menu>

					<button mat-icon-button [matMenuTriggerFor]="appMenu">
						<mat-icon>more_vert</mat-icon>
					</button>

				</h3>

				<p matLine>
					<span> {{movie.releaseDate}} </span>
					<span class="demo-2"> {{movie.language}} </span>
				</p>

			</mat-list-item>
		</mat-list>
	</mat-card-content>

</mat-card>